<section>
  <h1>BE / DO / GO</h1>
  <table>
    <!-- Header row -->
    <tr class="header">
      <th class="column1">{{ verbBe[0].first }}</th>
      <th class="column2">{{ verbBe[0].second }}</th>
      <th class="column3">{{ verbBe[0].third }}</th>
      <th class="translation">{{ verbBe[0].translation }}</th>
    </tr>

    <!-- Data rows -->
    <!-- be -->
    <tr class="verbsName">
      <td class="column1">{{ verbBe[1].first }}</td>
      <td class="column2">{{ verbBe[1].second }}</td>
      <td class="column3">{{ verbBe[1].third }}</td>
      <td class="translation" rowspan="2">{{ verbBe[1].translation }}</td>
    </tr>

    <!-- example be  -->
    <tr class="verbsExample">
      <td class="column1" [innerHTML]="verbBe[2].first"></td>
      <td class="column2" [innerHTML]="verbBe[2].second"></td>
      <td class="column3" [innerHTML]="verbBe[2].third"></td>
    </tr>
  </table>
</section>

<!-- DO -->
<section>
  <table>
    <!-- do -->
    <tr class="verbsName">
      <td class="column1">{{ verbDo[0].first }}</td>
      <td class="column2">{{ verbDo[0].second }}</td>
      <td class="column3">{{ verbDo[0].third }}</td>
      <td class="translation" rowspan="2">{{ verbDo[0].translation }}</td>
    </tr>

    <!-- example do  -->
    <tr class="verbsExample">
      <td class="column1" [innerHTML]="verbDo[1].first"></td>
      <td class="column2" [innerHTML]="verbDo[1].second"></td>
      <td class="column3" [innerHTML]="verbDo[1].third"></td>
    </tr>
  </table>
</section>

<!-- GO -->
<section>
  <table>
    <!-- go -->
    <tr class="verbsName">
      <td class="column1">{{ verbGo[0].first }}</td>
      <td class="column2">{{ verbGo[0].second }}</td>
      <td class="column3">{{ verbGo[0].third }}</td>
      <td class="translation" rowspan="2">{{ verbGo[0].translation }}</td>
    </tr>

    <!-- example go  -->
    <tr class="verbsExample">
      <td class="column1" [innerHTML]="verbGo[1].first"></td>
      <td class="column2" [innerHTML]="verbGo[1].second"></td>
      <td class="column3" [innerHTML]="verbGo[1].third"></td>
    </tr>
  </table>
</section>
