<section>
  <table class="table">
    <!-- title -->
    <tr>
      <th class="title one">{{title[0]}}</th>
      <th class="title two">{{title[1]}}</th>
      <th class="title three">{{title[2]}}</th>
      <th class="title four" colspan="2">{{title[3]}}</th>
    </tr>

    <!-- be -->
    <tr>
      <td class="first one">{{be[0]}}</td>
      <td class="first two">{{be[1]}}</td>
      <td class="first three">{{be[2]}}</td>
      <td class="first four" rowspan="2">{{be[3]}}</td>
    </tr>
    <tr>
      <td class="second one">Don't <b>be</b> late</td>
      <td class="second two">I <b>was</b> tired after work</td>
      <td class="second three">I've never <b>been</b> this happy</td>
    </tr>
  </table>

  <!-- do -->
  <table class="table">
    <tr>
      <td class="first one">do</td>
      <td class="first two">did</td>
      <td class="first three">done</td>
      <td class="first four" rowspan="2">делать, выполнять</td>
    </tr>
    <tr>
      <td class="second one">
        What<b>do</b> you <b>do</b>?
        <br />
        I can't <b>do</b> this
      </td>
      <td class="second two">You <b>did</b> a great job</td>
      <td class="second three">I've never <b>done</b> this before</td>
    </tr>
  </table>

  <!-- go -->
  <table class="table">
    <tr>
      <td class="first one">go</td>
      <td class="first two">went</td>
      <td class="first three">gone</td>
      <td class="first four" rowspan="2">идти</td>
    </tr>
    <tr>
      <td class="second one">I<b> go</b> to the store every other day?</td>
      <td class="second two">I <b>went</b> to the store yesterday</td>
      <td class="second three">
        Tom's not here. He's <b>gone</b> to the store
      </td>
    </tr>
  </table>
</section>
